/* GLOBAL STYLES */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1160px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}